<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
        <nav class="screen">
                <div class="pull-left">
                        <p>Home</p>
                </div>
                <div class="pull-right">
                        <span>Menu</span>
                        <div class="pull-right-content">
                                <ul>
                                       <li> <a class="dropdown-content" 
                                        href="www.google.co.th">1</a>
                                        </li>
                                        <li>
                                        <a class="dropdown-content" 
                                        href="www.twitter.com">2</a>
                                        </li>
                                        
                                </ul>
                        </div>
                </div>

        </nav>
        <h1 style="text-align: center; margin-top: 50px;">Album example</h1>
        <div class="container">
                <h3 class="headtext">Something short and leading about the collection below—its contents, 
                the creator, etc. Make it short and sweet, but not too short so folks 
                don't simply skip over it entirely.</h3>
        </div>
        <div style="text-align: center; ">
                <button class="button1" >Main all action</button>
                <button class='button2'>Secondary action</button>
        </div>
        <div style="background-color : rgba(245, 245, 245, 0.795); padding : 10px; margin-top: 10px;" >
        <div class="container1">
                <div class="card">
                        <img src="bear.png" style="width:100%; height: auto;">
                        <p class="t1">This is a wider card with supporting text below as a natural</p> 
                        <div class="button-group">
                                <div style="flex:1;">
                                        <button>View</button>
                                        <button>Edit</button>
                                </div>
                                <span class='code'>9 mins</span>
                        </div>
                </div>
                <div class="card">
                        <img src="bear.png" style="width:100%; height: auto;">
                        <p class='t1'>This is a wider card with supporting text below as a natural</p> 
                        <div class="button-group">
                                <div style="flex:1;">
                                        <button>View</button>
                                        <button>Edit</button>
                                </div>
                                <span class='code'>9 mins</span>
                        </div>
                        
                </div>
                <div class="card">
                        <img src="bear.png" style="width:100%; height: auto;">
                        <p class='t1'>This is a wider card with supporting text below as a natural</p>            
                        <div class="button-group">
                                <div style="flex:1;">
                                        <button>View</button>
                                        <button>Edit</button>
                                </div>
                                <span class='code'>9 mins</span>
                        </div>        
                </div>
                  
        </div>

        <div class="container1">
                        <div class="card">
                                <img src="bear.png" style="width:100%; height: auto;">
                                <p class="t1">This is a wider card with supporting text below as a natural</p> 
                                <div class="button-group">
                                        <div style="flex:1;">
                                                <button>View</button>
                                                <button>Edit</button>
                                        </div>
                                        <span class='code'>9 mins</span>
                                </div>
                        </div>
                        <div class="card">
                                <img src="bear.png" style="width:100%; height: auto;">
                                <p class='t1'>This is a wider card with supporting text below as a natural</p> 
                                <div class="button-group">
                                        <div style="flex:1;">
                                                <button>View</button>
                                                <button>Edit</button>
                                        </div>
                                        <span class='code'>9 mins</span>
                                </div>
                                
                        </div>
                        <div class="card">
                                <img src="bear.png" style="width:100%; height: auto;">
                                <p class='t1'>This is a wider card with supporting text below as a natural</p>            
                                <div class="button-group">
                                        <div style="flex:1;">
                                                <button>View</button>
                                                <button>Edit</button>
                                        </div>
                                        <span class='code'>9 mins</span>
                                </div>        
                        </div>
                          
                </div>

        </div>

</body>
</html>